<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <nav>
        <div class="nav-wrapper purple">
            <a href="/" class="brand-logo">WMS</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="materials">Products</a></li>
                <li><a href="suppliers">Suppliers</a></li>
            </ul>
        </div>
    </nav>
    <h1>Login</h1>
  
        <form method="post" action="/login">
            <p>
                <label for="username">Username:</label>
                <input type="text" name="username" id="username">
            </p>
            <p>
                <label for="password">Password:</label>
                <input type="text" name="password" id="password">
            </p>
            <p>
                <input type="submit" class="btn purple" value="submit">
            </p>
        </form>
        <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>    
            </body>
      </html>